@import 'yeticss'
@import url(https://fonts.googleapis.com/css?family=Exo:900)

red = #E87461
lightred = #FFDDBA

body
  background-color #FFDDBA

.header
  height 6em
  background-color red

nav
  float right
  top -3.5em
  right 0.5em
  position relative

a.nav.button-outlined
  font 400 1.2em 'Exo' sans-serif
  color black
  border solid black 0.15em
  padding 0.5em
  margin 0.5em
  &:hover
    border-color #FFDDBA
    color #FFDDBA

.logo
  background: url('http://s4.postimg.org/yp0hvr8qx/pioz76ai_E.png') no-repeat
  background-size 100%
  height 5em
  width 5em
  top 0.5em
  left 1em
  position relative
  float left
  
.title
  display inline-block
  position relative
  top 0.4em
  left 0.8em
  font 900 2.8em 'Exo' sans-serif
  
.container
  background-color lightred
  height 45em
  
h2
  font 600 2em 'Exo' sans-serif
  color black
  padding 0.9em
  margin-bottom 0em

.github-link
  display block
  height 7em
  
.github-logo
  background: url('http://s21.postimg.org/nxej0libb/github_logo.png') no-repeat
  background-size 100%
  height 4em
  width 4em
  top -5.15em
  left 34em
  position relative

h4
  font 500 1.5em 'Exo' sans-serif
  margin-bottom 0.5em
  
p
  font 1.2em sans-serif
  margin-left 0.7em
  color black