@import url(https://fonts.googleapis.com/css?family=Exo:900)

blue = #649CAC
red = #E87461

body
  background-color blue
  margin 0em
  padding 0em

#layout
  height 6em
  background-color red
  
h1
  display inline-block
  position relative
  top -0.06em
  left 0.5em
  font 2.2em 'Exo' sans-serif