@import url(https://fonts.googleapis.com/css?family=Exo:900)

blue = #649CAC
red = #E87461

body
  background-color blue
  margin 0em
  padding 0em

#layout
  height 6em
  background-color red
  
#logo
  content: ''
  background: url('http://s4.postimg.org/yp0hvr8qx/pioz76ai_E.png') no-repeat
  background-size 100%
  height 5em
  width 5em
  top 0.3em
  left 0.3em
  position relative
  float left
  
h1
  display inline-block
  position relative
  top -0.06em
  left 0.5em
  font 2.2em 'Exo' sans-serif